<div id="canvas">
  
  <svg version=1.1 id="game_area"
    baseprofile="full"
    mlns="http://www.w3.org/2000/svg"  
	xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:ev="http://www.w3.org/2001/xml-events"

    width="<%= @grid.picture_width %>"
    height="<%= @grid.picture_height %>"
    preserveAspectRatio="xMinYMin">

    <defs>   
      <%= render 'shared/image_base' %>
      <%= render 'shared/units' %>
      <%= render 'audit' if params[:controller] == "scenarios" %> 
      <%= render 'shared/clipping_area' %>
    </defs>
	
    <g id="layer1"
      transform="scale(<%= @context.scale %>) 
      translate(<%= "#{@grid.x_translation(@context)}, #{@grid.y_translation(@context)}" %>)" >
      <use xlink:href="#image_base" style="opacity:0.5" />     
    </g>
    <g id="layer2"
      transform="scale(<%= @context.scale %>)
      translate(<%= "#{@grid.x_translation(@context)}, #{@grid.y_translation(@context)}" %>)" >
      <use xlink:href="#image_base" style="clip-path: url(#rectClip);" />     
      <use xlink:href="#units" style="clip-path: url(#rectClip);" />     
      <use xlink:href="#audit" style="clip-path: url(#rectClip);" />     
    </g>

	</svg>
</div>