<div id="player_options" class="round">
  <%= check_box_tag(:altitude) %>
  <%= label_tag(:altitude, (t 'altitude')) %>
  <%= check_box_tag(:edges) %>
  <%= label_tag(:edges, (t 'edges')) %> 
  <%= check_box_tag(:hydrography) %>
  <%= label_tag(:hydrography, (t 'hydrography')) %>
  <%= check_box_tag(:roads) %>
  <%= label_tag(:roads, (t 'roads')) %>
  <%= check_box_tag(:geography) %>
  <%= label_tag(:geography, (t 'geography')) %>
  <%= check_box_tag(:units) %>
  <%= label_tag(:units, (t 'units')) %>
</div>
